{% extends "base.html" %}

{% block content %}
<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<div></div>
			<h1>404</h1>
		</div>
		<h2>Page not found</h2>
		<p>The page you are looking for was most likely a link to our old site or has been removed.</p>
		<p>Please use the navigation links at the top of the page or our search button to find the product you were looking for. You can click below to return to the homepage, thank you (and don't forget to choose your state in the header).</p>
		<a href="https://metalroofingonline.com.au">home page</a>
	</div>
</div>

{% endblock %}
