{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<div class='row'>
    <div class='col-md-4 col-10  mx-auto mb-3'>
    <h1>Reset your Password</h1>
    <form method='post' action=''>{% csrf_token %}
        <div class="form-label-group border-square-blue">
            {{ form.email|addcss:"class:form-control, placeholder:Email Address" }}
            <label for='id_email'>Email Address</label>
        </div>
        {{ form.email.errors }}
        <button style='font-size:16px;' type='submit' class='btn background-orange text-white btn-lg btn-block'>RESET PASSWORD</button>
    </form>
</div>
{% endblock %}
