{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class='my-5 py-5'>Reset Instructions Sent</h1>
            <p>We've emailed you instructions for resetting your password, if an account exists with the email provided. You should receive them shortly.</p>
            <p>
                If you don't receive an email, please make sure you correctly entered the address you registered with and make sure to check your spam folder as well.
            </p>
      </div>
</div>
{% endblock %}
