{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<div class='row'>
    <div class='col-md-4 col-10 mx-auto my-3'>
        <h1>Set your Password</h1>
        <ul>
            <li> Your password can't be too similar to your other personal information. </li>
            <li> Your password must contain at least 8 characters. </li>
            <li> Your password can't be a commonly used password. </li>
            <li> Your password can't be entirely numeric. </li>
        </ul>
        <form method='post' action=''>{% csrf_token %}
            <div class="form-label-group border-square-blue">
                {{ form.new_password1|addcss:"class:form-control, placeholder:Email Address" }}
                <label for='id_new_password1'>New Password</label>
            </div>
            {{ form.email.errors }}

            <div class="form-label-group border-square-blue">
                {{ form.new_password2|addcss:"class:form-control, placeholder:Email Address" }}
                <label for='id_new_password2'>Confirm New Password</label>
            </div>
            {{ form.email.errors }}

            <button style='font-size:16px;' type='submit' class='btn background-orange text-white btn-lg btn-block'>RESET PASSWORD</button>
        </form>
      </div>
</div>

{% endblock %}
