{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col mb-3'>
            <h1>Metal Roofing Online Product & Installation Support Area</h1>
            <p>
            <h4>Here you will find important and helpful information across all aspects of our business.</h4>
            From Frequently asked questions to comprehensive installation guides.  If you can't find what you are looking for, please contact us and we will try to help. Click on any of the links below to select which area you require.</p>
            <hr>
            <div class='row my-4'>
                <div class='col-lg-6 col-md-6 col-sm-12 mb-3'>
                    <div class="card">
                      <div class="card-header">
                        <h3 style='display:inline'>Important Links</h3>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/FAQ/">Frequently Asked Questions</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/warranty/">Warranty</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/delivery/">Delivery</a>
                        </li>
                        <li class="list-group-item">
                            <a href='/colourbond-colours/'>Colourbond Colours</a>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class='col-lg-6 col-md-6 col-sm-12 mb-3'>
                    <div class="card">
                      <div class="card-header">
                        <h3 style='display:inline'>How to Install</h3>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/hti-metalroofingsheets/">Metal Roofing Sheets
                        </li>
                        <li class="list-group-item">
                            <a href="/hti-guttering/">Guttering
                        </li>
                        <li class="list-group-item">
                            <a href="/hti-eavesguttering/">Eaves Guttering
                        </li>
                        <li class="list-group-item">
                            <a href="/hti-insulationbatts/">Insulation Batts
                        </li>
                        <li class="list-group-item">
                            <a href="/hti-polycarbonateroofing/">Polycarbonate Roofing
                        </li>
                        <li class="list-group-item">
                            <a href="/hti-flashing/">Flashing
                        </li>
                        <li class="list-group-item">
                            <a href="/hti-metalroofinsulationview/">Metal Roof Insulation
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}