{% extends "base.html" %}

{% block content %}
</div>
<div class='container'>
    <div class='row mb-4 pt-3'>
        {% if query %}
        <div class='col-12'>
            Results for <b>{{ query }}</b>
            <hr/>
        </div>
        {% else %}
        <div class='col-12 mx-auto mt-2 pb-2'>
        </div>
    </div>
</div>
{% endif %}

<div class='container'>
    <div class='row'>
        {% if not request.session.state_selected %}
        <div class='col text-center mb-5'>
            <h1> Please select a state in the header. </h1>
        </div>
        {% else %}
            {% for obj in object_list %}
                {% if request.session.state_selected == 'ACT' and obj.nsw_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>   
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'NSW' and obj.nsw_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'NT' and obj.packed and obj.vic_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'QLD' and obj.qld_title%}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'SA' and obj.packed and obj.vic_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'TAS' and obj.wa_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'VIC' and obj.vic_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% elif request.session.state_selected == 'WA' and obj.packed and obj.vic_title %}
                <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}